* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: justify-all;
    font-size: 2.5vh;
}

.main {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: cadetblue;
    width: 80vw;
    padding: 5vh 0 6vh 0;
    border-radius: 25px;
    box-shadow: -0.7vh 0.5vw 50px black;
    z-index: 10;
}

.main h3 {
    font-size: 3.5vh;
    text-align: center;
}

.row__top {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-bottom: 4vh;
}

.column__left, .column__right {
    display: flex;
    flex-direction: column;
}

.column__left {
    margin-right: 3vw;
}

.column__right {
    margin-left: 3vw;
}

.row {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 1.5vh;
}

.row input, .row textarea {
    border-radius: 6px;
}

.row__button {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.submit__button {
    font-size: 4.5vh;
    padding: 0.8vw;
    border-radius: 12px;
    box-shadow: 0.4vh 0.3vw 20px black;
    z-index: 15;
}

.bg {

    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@media screen and (max-width: 1024px) {
    .bg {
        left: 50%;
        margin-left: -512px;
    }
}
